body{
    background-image: url(restaurant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}
h3{
  position: relative;
  left: 80% ;
  padding: 1%;
  margin-top: 0px;
  width: 20%; 
  background-color: darkgray;
  border: 1px solid black;
  border-spacing: 0px;
  
}
#box1{
    background-color: rgb(210, 232, 241);
    padding: 10px;
    margin: 10px;
    padding-top: 0%;
    margin-top: 0%;
    border: 1px solid black;
    box-sizing: border-box;
   
}
#box2{
    background-color: rgb(210, 232, 241);
    padding: 10px;
    margin: 10px;
    padding-top: 0px;
    margin-top: 0px;
    border: 1px solid black;
    box-sizing: border-box;
    
}
#box3{
    background-color: rgb(210, 232, 241);
    padding: 10px;
    margin: 10px;
    padding-top: 0%;
    margin-top: 0%;
    border: 1px solid black;
    box-sizing: border-box;
    
}
 
  /* For desktop: */
  @media  (min-width: 992px) { .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    border: 1px;
  }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.6%;}
    .col-3 {width: 25%;}
    .col-4 {width: 30%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;} 
  }
   /* For tablets: */
   @media(min-width: 768px) and (max-width: 991px) {.col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-5, .col-s-6, .col-s-7, .col-s-8, .col-s-9, .col-s-10, .col-s-11, .col-s-12{
       float: left;
       
   }
    
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.6%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 30%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;} 
  }
   
  /* For Mobile  */
  @media(max-width: 767px) {
    
  }